<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explora Ciudades</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <!-- Aquí se monta Vue.js en el contenedor con el ID "app" -->
    <div id="app">
        <h1>{{ title }}</h1>

        <!-- Nuevo contenedor para centrar los elementos de búsqueda -->
        <div class="search-container-wrapper">
            <!-- Contenedor para la búsqueda de ciudades -->
            <div class="search-container">
                <input type="text" v-model="citySearch" placeholder="Buscar una ciudad..." autocomplete="off" />
                <button @click="searchCity">Buscar</button>

                <!-- Lista de sugerencias -->
                <div class="suggestions">
                    <ul v-if="suggestions.length">
                        <li v-for="suggestion in suggestions" @click="selectCity(suggestion)">
                            {{ suggestion.displayText }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Botón para ir a la ubicación actual del usuario, movido abajo -->
        <div class="search-container-wrapper">
            <button id="current-location" @click="getCurrentLocation">Ir a mi ubicación</button>
        </div>

        <!-- Sección de las tarjetas de ciudades -->
        <section class="cards-container">
            <div class="card" @click="goToCity('cordoba')">
                <img src="ciudades/cordoba.png" alt="Córdoba" />
                <h3>Córdoba</h3>
            </div>
            <div class="card" @click="goToCity('malaga')">
                <img src="ciudades/malaga.png" alt="Málaga" />
                <h3>Málaga</h3>
            </div>
            <div class="card" @click="goToCity('sevilla')">
                <img src="ciudades/sevilla.png" alt="Sevilla" />
                <h3>Sevilla</h3>
            </div>
        </section>
    </div>

    <!-- Enlace al archivo JS para el buscador y la geolocalización -->
    <script src="ciudades.js"></script>
</body>
</html>
